<div class="formFormat">
	<h1>Registration</h1>
	<table width="100%">
		<thead>
			<tr>
				<th colspan="2"><h3>General Information</h3></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="2"><input type="button" name="submit" value="Submit"></td>
			</tr>		
		</tfoot>
		<tbody>
			<tr>
				<td>User Type</td>
				<td>
					<input type="radio" name="userType" value="I" onchange="checkUserType()" checked>Individual
					<input type="radio" name="userType" value="C" onchange="checkUserType()">Corporation
				</td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input type="text" name="nameTxt"></td>
			</tr>
			<tr id="surnameRow">
				<td>Surname</td>
				<td><input type="text" name="surnameTxt"></td>
			</tr>
			<tr id="genderRow">
				<td>Gender</td>
				<td>
					<input type="radio" name="gender" value="M">Male
					<input type="radio" name="gender" value="F">Female
				</td>
			</tr>
			<tr id="dobRow">
				<td>Date of Birth</td>
				<td><input type="date" name="dobDate"></td>
			</tr>
			<tr id="idRow">
				<td>Identification Number</td>
				<td><input type="text" name="idNumTxt"></td>
			</tr>
			<tr>
				<td>Telephone No.</td>
				<td><input type="text" name="telNoTxt"></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" name="emailTxt"></td>
			</tr>
			<tr>
				<td>Username</td>
				<td><input type="text" name="userNameTxt"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="passwordTxt"></td>
			</tr>
			<tr>
				<td>Confirm Password</td>
				<td><input type="password" name="confirmPassTxt"></td>
			</tr>
			<tr>
				<td>Address</td>
				<td><textarea rows="4" cols="200"></textarea></td>
			</tr>
			<tr>
				<td>Other Information</td>
				<td><textarea rows="4" cols="200"></textarea></td>
			</tr>
			<tr>
				<td>Picture</td>
				<td><input type="file" name="picFile"></td>
			</tr>
		</tbody>
	</table>
</div>