<% content_for :head do %>
	<script type="text/javascript">
		var allJobTypeCheckbox;
		$(document).ready(function() {
		  $('div.demo-show:eq(0)> div').hide();  
		  $('div.demo-show:eq(0)> h4').click(function() {
		    $(this).next().slideToggle('fast');
		  });
	  		allJobTypeCheckbox  = $(this).find('.options input');
			allJobTypeCheckbox.each( checkboxChange );
		});
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

		function checkboxChange() {
			var jobTypeCheckBox = $(this);
			jobTypeCheckBox.on('change', function() {
				switch( jobTypeCheckBox.attr('id') ) {
					case 'post-all' :
						if( jobTypeCheckBox.prop('checked')) {
							allJobTypeCheckbox.each( function() { 
								$(this).prop('checked', true );
							});	
						}					
					default : 
						if( !jobTypeCheckBox.prop('checked') ){
							allJobTypeCheckbox.first().prop('checked', false );
						}
				}	
			});
		}
	</script>
<% end %>

<% if user_signed_in? %>
	<% content_for :header do %>
		<div class="row">
			<div class="allCol align-center">
				<button> ประกาศหาคน / งาน </button>	
			</div>
		</div>
	<% end %>
<% end %>

<div class="post-filter">
	<h2>เลือกประเภทงาน</h2>
	<div class="options">
		<div>
			<input id="post-all" type="checkbox">
			<label for="post-all"></label>
			<label for="post-all">ทั้งหมด</label>
			<!-- <span class="small">ทั้งหมด</span> -->
		</div>
		<div>
			<input id="post-maid" type="checkbox">
			<label for="post-maid"></label>
			<label for="post-maid">แม่บ้าน/พ่อบ้าน</label>
		</div>
		<div>
			<input id="post-helper" type="checkbox">
			<label for="post-helper"></label>
			<label for="post-helper">พี่เลี้ยงเด็ก-คนชรา</label>
		</div>
		<div>
			<input id="post-shop" type="checkbox">
			<label for="post-shop"></label>
			<label for="post-shop">พนักงานประจำร้าน</label>
		</div>
		<div>
			<input id="post-else" type="checkbox">
			<label for="post-else"></label>
			<label for="post-else">อื่นๆ</label>
		</div>
		<button class="btn-search">ค้นหา</button>
	</div>
</div>
<div id="post-container" style="height: 525px;">
	<div id="post-category">
		<div id="post-category-group">
			<div id="category-selection" class="all"></div>
			<a id="category-left" class="active" href="#">แสดงประกาศทั้งหมด</a>
			<a id="category-right" href="#">เฉพาะคนที่กำลังหางาน</a>
			<center>
				<a id="category-center" href="#">เฉพาะงานจากนายจ้าง</a>
			</center>
			<div id="category-selection-bar" class="all"></div>
		</div>
	</div>
	<div id="post-contents">

		<div class="post-post">
			<div class="post-icon"></div>
			<div class="post-text">
					<div class="speech-bubble"></div>
					<a href="#" class="post-title">หาพนักงานทำความสะอาดบ้าน ย่านสุขุมวิท ต้องการไปกลับ รายได้ดี ไม่จำเป็นต้องมีประสบการณ์ ต้องการเฉพาะผู้หญิงเท่านั้น หาพนักงานทำความสะอาดบ้าน ย่านสุขุมวิท ต้องการไปกลับ รายได้ดี ไม่จำเป็นต้องมีประสบการณ์</a>
					
			<div class="post-date">2 วันที่แล้ว</div></div>
		</div>

		<div class="post-post">
			<div class="post-icon"></div>
			<div class="post-text">
					<div class="speech-bubble"></div>
					<a href="#" class="post-title">หาพนักงานทำความสะอาดบ้าน ย่านสุขุมวิท ต้องการไปกลับ รายได้ดี ไม่จำเป็นต้องมีประสบการณ์ ต้องการเฉพาะผู้หญิงเท่านั้น หาพนักงานทำความสะอาดบ้าน ย่านสุขุมวิท ต้องการไปกลับ รายได้ดี ไม่จำเป็นต้องมีประสบการณ์</a>
					
			<div class="post-date">2 วันที่แล้ว</div></div>
		</div>
	</div>
</div>