<div class="row">
	<div class="span12">
		<h1>Welcome to <span class="brand">HoorayJob</span>.</h1>		
		<h2>Discover Job that match with you in 5 minutes</h2>
		<button class="btn btn-warning">try it free!</button>
	</div>
</div>

