<% content_for :head do %>
	<script type="text/javascript">
		var allJobTypeCheckbox;
		$(document).ready(function() {
		  $('div.demo-show:eq(0)> div').hide();  
		  $('div.demo-show:eq(0)> h4').click(function() {
		    $(this).next().slideToggle('fast');
		  });
	  		allJobTypeCheckbox  = $(this).find('.options input');
			allJobTypeCheckbox.each( checkboxChange );
			addFilterSearch();
			// Set Click handling on post bubble as same as clicking its link
			setPostClickHandling();
		});
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

		function checkboxChange() {
			var jobTypeCheckBox = $(this);
			jobTypeCheckBox.on('change', function() {
				switch( jobTypeCheckBox.attr('id') ) {
					case 'post-all' :
						if( jobTypeCheckBox.prop('checked')) {
							allJobTypeCheckbox.each( function() { 
								$(this).prop('checked', true );
							});	
						}					
					default : 
						if( !jobTypeCheckBox.prop('checked') ){
							allJobTypeCheckbox.first().prop('checked', false );
						}
				}	
			});
		}

		function setPostClickHandling() {
			$("div.post-text").click( function() {
				var link = $(this).children("a.post-title");
				if(link && link.length > 0) {
					link[0].click();
				}
			});
		}

		function filterPost(type) {
			if (type == 'employee') {
				$('.employer').hide();
				$('.employee').show();
			} else if (type == 'employer') {
				$('.employee').hide();
				$('.employer').show();
			} else {
				$('.employee').show();
				$('.employer').show();
			}
		}

	</script>
<% end %>

<% if user_signed_in? %>
	<% content_for :header do %>
		<div class="align-center">
			<%= link_to "ประกาศหาคน / หางาน", jobpost_path, class: "button btn-post" %>
		</div>
	<% end %>
<% end %>

<div class="post-filter">
	<h2>เลือกประเภทงาน</h2>
	<div class="options">
		<div>
			<input id="post-all" data-jobname="all" type="checkbox">
			<label for="post-all"></label>
			<label for="post-all">ทั้งหมด</label>
			<!-- <span class="small">ทั้งหมด</span> -->
		</div>
		<div>
			<input id="post-maid" data-jobname="housekeeper" type="checkbox">
			<label for="post-maid"></label>
			<label for="post-maid">แม่บ้าน/พ่อบ้าน</label>
		</div>
		<div>
			<input id="post-helper" data-jobname="baby-sitter,nurse" type="checkbox">
			<label for="post-helper"></label>
			<label for="post-helper">พี่เลี้ยงเด็ก-คนชรา</label>
		</div>
		<div>
			<input id="post-shop" data-jobname="shophelper" type="checkbox">
			<label for="post-shop"></label>
			<label for="post-shop">พนักงานประจำร้าน</label>
		</div>
		<div>
			<input id="post-else" data-jobname="others" type="checkbox">
			<label for="post-else"></label>
			<label for="post-else">อื่นๆ</label>
		</div>
		<button class="btn-search" id="filterSearch">ค้นหา</button>
	</div>
</div>
<div id="post-container"><!--  style="height: 525px;"> -->
	<div id="post-category">
		<div id="post-category-group">
			<div id="category-selection" class="all"></div>
			<a id="category-left" class="active" href="#" data-category="all" onclick="filterPost('all')">แสดงประกาศทั้งหมด</a>
			<a id="category-right" href="#" data-category="employee" onclick="filterPost('employee')">เฉพาะคนที่กำลังหางาน</a>
			<center>
				<a id="category-center" href="#" data-category="employer" onclick="filterPost('employer')">เฉพาะงานจากนายจ้าง</a>
			</center>
			<div id="category-selection-bar" class="all"></div>
		</div>
	</div>

	<div id="post-contents">

		<%= render :partial => "post_item", :object => @posts %>
	</div>

	<!-- <div id="post-contents">

		<div class="post-post">
			<div class="post-contact">
				<i class="post-icon money"></i>
				<div class="post-contact-info">
					<span class="post-contact-name">คุณ เก่ง ชัยชาญ</span>
					<span class="post-contact-tel"><i class="phone"></i>080-123-4567</span>
				</div>
				<div class="post-money-area">
					<div class="wage">1,000,000</div>
					<div class="detail">บาทต่อเดือน</div>
				</div>
			</div>
			<div class="post-text">
					<div class="speech-bubble"></div>
					<a href="#" class="post-title" onclick="console.log('a')">หาพนักงานทำความสะอาดบ้าน ย่านสุขุมวิท ต้องการไปกลับ รายได้ดี ไม่จำเป็นต้องมีประสบการณ์ ต้องการเฉพาะผู้หญิงเท่านั้น หาพนักงานทำความสะอาดบ้าน ย่านสุขุมวิท ต้องการไปกลับ รายได้ดี ไม่จำเป็นต้องมีประสบการณ์</a>
			<div class="post-date">2 วันที่แล้ว</div></div>
		</div>

		<div class="post-post employee">
			<div class="post-contact">
				<i class="post-icon employee-man"></i>
				<div class="post-contact-info">
					<span class="post-contact-name">คุณ เก่ง ชัยชาญ</span>
					<span class="post-contact-tel"><i class="phone"></i>080-123-4567</span>
				</div>
				<div class="post-money-area">
					<div class="wage"></div>
					<div class="detail">พนักงานขับรถ</div>
				</div>
			</div>
			<div class="post-text">
					<div class="speech-bubble"></div>
					<a href="#" class="post-title" onclick="console.log('b')">หาพนักงานทำความสะอาดบ้าน ย่านสุขุมวิท ต้องการไปกลับ รายได้ดี ไม่จำเป็นต้องมีประสบการณ์ ต้องการเฉพาะผู้หญิงเท่านั้น หาพนักงานทำความสะอาดบ้าน ย่านสุขุมวิท ต้องการไปกลับ รายได้ดี ไม่จำเป็นต้องมีประสบการณ์</a>
					
			<div class="post-date">2 วันที่แล้ว</div></div>
		</div>

		<div class="post-post employee">
			<div class="post-contact">
				<i class="post-icon employee-woman"></i>
				<div class="post-contact-info">
					<span class="post-contact-name">คุณ เก่ง ชัยชาญ</span>
					<span class="post-contact-tel"><i class="phone"></i>080-123-4567</span>
				</div>
				<div class="post-money-area">
					<div class="wage"></div>
					<div class="detail">แม่บ้าน</div>
				</div>
			</div>
			<div class="post-text">
					<div class="speech-bubble"></div>
					<a href="#" class="post-title">หาพนักงานทำความสะอาดบ้าน</a>
					
			<div class="post-date">2 วันที่แล้ว</div></div>
		</div>

		<div class="post-post employee">
			<div class="post-contact">
				<i class="post-icon employee-unisex"></i>
				<div class="post-contact-info">
					<span class="post-contact-name">คุณ เก่ง ชัยชาญ</span>
					<span class="post-contact-tel"><i class="phone"></i>080-123-4567</span>
				</div>
				<div class="post-money-area">
					<div class="wage"></div>
					<div class="detail">แม่บ้าน</div>
				</div>
			</div>
			<div class="post-text">
					<div class="speech-bubble"></div>
					<a href="#" class="post-title">หาพนักงานทำความสะอาดบ้าน หาพนักงานทำความสะอาดบ้าน หาพนักงานทำความสะอาดบ้าน</a>
					
			<div class="post-date">2 วันที่แล้ว</div></div>
		</div>

		<div class="post-post">
			<div class="post-contact">
				<i class="post-icon money"></i>
				<div class="post-contact-info">
					<span class="post-contact-name">คุณ เก่ง ชัยชาญ</span>
					<span class="post-contact-tel"><i class="phone"></i>080-123-4567</span>
				</div>
				<div class="post-money-area">
					<div class="wage">1,000,000</div>
					<div class="detail">บาทต่อเดือน</div>
				</div>
			</div>
			<div class="post-text">
					<div class="speech-bubble"></div>
					<a href="#" class="post-title">หาพนักงานทำความสะอาดบ้าน</a>
					
			<div class="post-date">2 วันที่แล้ว</div></div>
		</div>
	</div> -->


</div>