<div id="loginDiv" class="centerBox loginMarginTop">
	<div class="hero-unit">
		<table>
			<tr>
				<td>User Name</td>
				<td><input type="text" id="userName"></td>
				<td>Password</td>
				<td><input type="text" id="pass"></td>
				<td><button id="logInBtn">Login</button></td>
			</tr>
			<tr>
				<td colspan="5"><a href="registration">Registration</a></td>
			</tr>
		</table>		
	</div>
</div>

