<div id="loginDiv" class="centerBox loginMarginTop">
	<div class="hero-unit">
		<form>
			<table>
				<tr>
					<td>Username</td>
					<td><input type="text" id="userName"></td>
					<td>Password</td>
					<td><input type="text" id="password"></td>
					<td><input type="submit" id="login" value="Login"></td>
				</tr>
				<tr>
					<td colspan="5"><a href="registration">Registration</a></td>
				</tr>
			</table>
		</form>		
	</div>
</div>

