<div class="row">
	<div class="span12">
		<div class="well">
			<form action="" class="form-inline">
				<input type="text" class="input" placeholder="username">
				<input type="password" class="input" placeholder="password">
				<button class="btn">Sign in</button>
			</form>	
			<%= link_to 'Registration', registration_path %>
		</div>
	</div>
</div>