- content_for(:head) do
	:css
		body {
			background-color: #ddd;
			text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
			-webkit-font-smoothing: antialiased;
		}
		h1,h2,h3 {
			font-family: 'Quark-Bold';
		}
		.post {
			font-family: 'Quark-Bold';
			
			font-size: 30px;
			line-height: 50px;
		}
		.post .controls {
			display: inline;
			padding-left: 7px;
		}
		.post input {
			border-top: 0px;
			border-left: 0px;
			border-right: 0px;
			border-bottom-width: 2px;
			border-bottom-style: dashed;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			font-size: 35px;
			padding: 10px 4px 10px 4px;
			margin: 0px;
			font-family: 'iannnnnBKK';
			color: deepSkyBlue;
			text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
		}
		.post select {
			background: transparent;
			border: 0px;
			border-radius: 0;
			outline: none !important;
			font-size: 35px;
			font-family: 'iannnnnBKK';
			padding: 0px 4px 0px 4px;
			margin-bottom: 0px;
			margin-top: -3px;
			-webkit-appearance: none;
			color: deepSkyBlue;
		}

		.post input::-webkit-input-placeholder{
			/ color:;
			padding: 10px 4px 10px 4px;
			margin: 0px;
		}
		.post ::-moz-placeholder { color:red; } /* firefox 19+ */
		.post :-ms-input-placeholder { color:red; }
		.post input:-moz-placeholder { color:red; }

		.post input:focus {
			border-color: #333;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
		.post .well input {
			background-color: whiteSmoke;
		}
		.newline {
			margin-top: 20px;
		}
		.center {
			text-align: center;
		}
		.box {
			position: relative;
			width: 900px;
			padding: 50px;
			margin: 30px auto;
			background-color: white;
			-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
		}
		.box::before, .box::after {
			position: absolute;
			width: 40%;
			height: 10px;
			content: ' ';
			left: 12px;
			bottom: 12px;
			background: transparent;
			-webkit-transform: skew(-5deg) rotate(-5deg);
			-moz-transform: skew(-5deg) rotate(-5deg);
			-ms-transform: skew(-5deg) rotate(-5deg);
			-o-transform: skew(-5deg) rotate(-5deg);
			transform: skew(-5deg) rotate(-5deg);
			-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
			z-index: -1;
		}
		.box::after {
			left: auto;
			right: 12px;
			-webkit-transform: skew(5deg) rotate(5deg);
			-moz-transform: skew(5deg) rotate(5deg);
			-ms-transform: skew(5deg) rotate(5deg);
			-o-transform: skew(5deg) rotate(5deg);
			transform: skew(5deg) rotate(5deg);
		}
		.btn.choose {
			height: 110px;
			width: 150px;
			font-family: 'Quark-Bold';
			font-size: 25px;
			padding-bottom: 20px;
			padding-top: 40px;
			margin-left: 10px;
			margin-right: 10px;
		}
		.btn.choose:hover {
			color: orangeRed;
		}
		.btn.choose i {
			font-size: 70px;
			display: block;
			padding-bottom: 16px;
		}
		.small {
			font-size: 12px;
		}
		.underline {
			display: inline;
			border-bottom: 2px dashed #CCC;
			margin-right: 15px;
		}
		.post i.icon-chevron-down {
			margin-left: -25px;
		}

.row
	.span12.center
		%h1 คุณต้องการ ?
		.btn.choose
			%i.icon-user-md
			.small.muted
				นายจ้าง
			หาคน
		.btn.choose
			%i.icon-user
			.small.muted
				พนักงาน
			หางาน

.box.post
	%div
		หาพนักงาน
		/ %input{type: 'text'}
		.underline
			%select
				%option แม่บ้าน
				%option คนเลี้ยงเด็ก
				%option คนดูแลผู้สูงอายุ
				%option คนขับรถ
			%i.icon-chevron-down
		ที่มีคุณสมบัติ
		%input.input-xlarge{type: 'text'}
	%div
		รายได้
		%input{type: 'text'}
		อายุ
		%input.input-mini{type: 'text', placeholder: '-'}
		ปี
		เพศ
		%input.input-mini{type: 'text', placeholder: '-'}
		มีประสบการณ์
		%input.input-mini{type: 'text', placeholder: '-'}
	%div
		ทำงานย่าน
		%input.input-small{type: 'text'}
		จังหวัด
		%input.input-small{type: 'text'}
	.newline
		.post
			.well	
				%small
					ติดต่อได้ที่ นายสมชาย โคตรรวย โทร
					%input{type: 'text'}
					อีเมล์
					%input{type: 'text'}

.row.newline
	.span12.center
		%button.btn.btn-danger.btn-large ประกาศ