// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tablist {
    list-style:none; 
    height:2em;
    padding:0; 
    margin:0; 
    border: none;
}

.tablist li {
    float:left; 
    margin-right:0.13em; 
}

.tablist li a {
    display:block;
    padding:0 1em;
    text-decoration:none;
    border:0.06em solid #000;
    border-bottom:0;
    font:bold 0.88em/2em arial,geneva,helvetica,sans-serif;
    color:#000;
    background-color:#ccc;

    /* CSS 3 elements */
    webkit-border-top-right-radius:0.50em;
    -webkit-border-top-left-radius:0.50em;
    -moz-border-radius-topright:0.50em;
    -moz-border-radius-topleft:0.50em;
    border-top-right-radius:0.50em;
    border-top-left-radius:0.50em;
}

.tablist li a:hover {
    background:#3cf; 
    color:#fff;
    text-decoration:none;
}

.tablist li#current a {
    background-color: #777;
    color: #fff;
}
.tablist li#current a:hover {
    background: #39C;
}

.ui-tabs-hide {
	display: none;
}

.twitter-timeline {
	width: 300px;
}